:host {
  display: block;
  position: relative;
  overflow: hidden; /* Ensures nothing spills outside the component */
  width: 100%;
  height: 100vh; /* Adjust according to your layout needs */
}

model-viewer {
  animation: fadeOut 1s;
  animation-delay: 8s;
  position: absolute;
  width: 100%; /* Ensure model-viewer covers the necessary area */
  height: 100%; /* Adjust size as needed */
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
