ion-content {
    --background: linear-gradient(to bottom, var(--ion-color-primary), var(--ion-color-secondary));
    --color: var(--ion-color-secondary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-heading);
    font-family: var(--primary-font);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
